p {
    color: rgb(75, 155, 64);
    background-color: black;
    height: 100px;
    width: 80%;
}

h1 {
    text-align:center;
    background-color:brown;
    color: yellowgreen;
}
h2{
    color: rgb(251, 114, 2);

}
#design {
    color: brown;
    background-color:silver;
    width:50%;
}
.pretty{
    background-color:darkblue;
    color: aqua;
    height:50px;
    width:50%;
}